/* Sticky footer styles
-------------------------------------------------- */

/*html,
body {
  height: 100%;
  // The html and body elements cannot have any padding or margin.
}*/

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -80px;
  /* Pad bottom by footer height */
  padding: 0 0 70px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  
}

.text-white {
  font-family: "Ubuntu",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffffff;
}

.text-white:hover {
  color: #ffffff;
}

body {
  background-color: black;
  background-image: url('/img/bk.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.well {
  background-color: rgba(0,0,0,0.45);
}

.my-well {
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(0,0,0,0.45);
}

.alert-well {
  min-height: 1px;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: rgba(128,0,0,0.45);
}

.ft-parent {
  height: 398px; 
  overflow-y: auto;
}

.ft-window {
  overflow-y: auto;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*#wrap > .container {
  padding: 60px 15px 0;
}*/
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
} 

code {
  font-size: 80%;
}
